.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 140px;
  padding: 12px 24px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #121212;
  border: 1px solid #121212;
  -webkit-appearance: none;
  -webkit-box-shadow: 5px 5px 0 #000000;
  box-shadow: 5px 5px 0 #000000;
  transition-property: background-color, box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;

  &:hover {
    -webkit-box-shadow: 2px 2px 0 #000000;
    box-shadow: 2px 2px 0 #000000;
  }

  &:active {
    -webkit-box-shadow: 1px 1px 0 #000000;
    box-shadow: 1px 1px 0 #000000;
  }

  &_primary {
    background-color: #ffd209;
  }

  &_secondary {
    background-color: #ffffff;
  }
}
