.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 140px;
  padding: 12px 24px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #121212;
  border: 1px solid #121212;
  box-shadow: 5px 5px 0 0 #000;
  transition: box-shadow ease-in-out 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 0 0 #000;
  }

  &:active {
    box-shadow: 0px 0px 0 0 #000;
  }

  &_primary {
    background: #ffd209;
  }

  &_secondary {
    background: #ffffff;
  }
}
